*.pyc
*~
.DS_Store
*.graffle
docs/_build/*
docs/_temp/*
built/*
app-build.js
support/web/info
support/web/results
support/info
support/messages.log
support/APIgen/src/docs/*
support/APIgen/src/temp/*
support/built/*

