{% extends "base.html" %}

{% block extraHead %}
    <link type="text/css" rel="stylesheet" href="/support/jspec/lib/jspec.css" />
	<script type="text/javascript" src="/support/underscore.js"></script>
	<script type="text/javascript" src="/support/sylvester.js"></script>
    <script type="text/javascript" src="/support/jspec/lib/jspec.xhr.js"></script>
    <script type="text/javascript" src="/lib/gma/spec.helper.js"></script>
{% endblock %}

{% block content %}
	<div id="jspec-top"><h2 id="jspec-title">JSpec <em><script>document.write(JSpec.version)</script></em></h2></div>
	<div id="jspec"></div>
	<div id="jspec-bottom"></div>
    <script type="text/javascript" >
        jingo.anonymous({
            require: [
                'gma.main.main',
                'gma.testing.reporter'
            ],
            exec: function() {
	            JSpec{% for path in paths %}
	            .exec('/scripts/{{path}}'){% endfor %}
	            .run({reporter:gma.testing.reporter().report, verbose: true, failuresOnly: true, fixturePath: '/lib/testFixtures' })
	            .report()
            }
        });
    </script>
{% endblock %}
