{% extends  "view.html" %}

{% block bodyOpts %}style="background:black"{% endblock %}

{% block staticRequireOpts %}
    require({
        baseUrl: "/{% if gettingCoverage %}instrumented{% else %}scripts{% endif %}/",
        paths : {'_levels' : '/scripts/examples/fancy/_levels'},
        waitSeconds: 15,
    });  
{% endblock %}

{% block requireOpts %}
    {{block.super}}
    require.paths = {'_levels' : '/scripts/examples/fancy/_levels'};
{% endblock %}

{% block canvas %}
<div id="gamma"></div>
{% endblock %}
